---
layout: single
author_profile: true
---

{% include base_path %}

<h1 class="page__title">Research Interests</h1>
<h2>1. Epigenetic regulation of gene expression</h2>
<p>Gene regulation processes control the temporal and spatial expression of genes, which leads to the derivation of a variety of tissues and cell types from the same genome. The concept of epigenetics is that functionally relevant changes to the genome may not involve a change in the nucleotide sequence. Examples of mechanisms that produce such changes are DNA methylation and histone modification, each of which regulates how genes are expressed without altering the underlying DNA sequence but altering the interactions between cis- and trans-acting elements. We focus on annotating these elements and the non-coding genomic regions by interpreting the epigenentic signatures of them.</p>

<h2>2. Cancer genomics</h2>
<p>Cancer is a disease of the genome. The past decade has seen breath-taking advances in the characterization of point mutations and structural alterations in a wide range of cancers; all thanks to the next-generation sequencing technologies. Increasingly, the complete genome sequences of a large number of cancer types are being obtained, providing us with a comprehensive view of cancer development. We focus on interpreting these cancer genomic data using advanced statistical and machine-learning methods to assess their application on clinical treatment.</p>

{% include paginator.html %}
